/packages/dot-gitconfig
/packages/dot-config/desktop/wallpapers/current
/packages/dot-config/desktop/scripts/hypr-custom-autostart

/packages/dot-local/bin/*
!/packages/dot-local/bin/getanyzig
!/packages/dot-local/bin/get-bum
!/packages/dot-local/bin/vim
!/packages/dot-local/bin/ziginit
!/packages/dot-local/bin/zs

/packages/dot-config/fish/*
!/packages/dot-config/fish/config.fish
!/packages/dot-config/fish/fish_plugins
