@define-color theme_primary #dcdfe4;
@define-color theme_secondary #9ca4b2;
@define-color theme_accent #ffffff;
@define-color theme_background #171a1e;
/* alternative lighter background color */
/* @define-color theme_background #1f2329; */

* {
  font-family: "Fira Code", "Symbols Nerd Font Mono";
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

#waybar {
  background: transparent;
  color: @theme_primary;
}

.modules-left,
.modules-center,
.modules-right {
  background: @theme_background;
  border-radius: 5px;
  padding: 0px 10px;
}

.module {
  padding: 5px 5px;
  opacity: 0.8;
}

.module:hover {
  color: @theme_accent;
  opacity: 1;
}

#workspaces {
  padding: 10px 0px;
  opacity: 1;
}

#workspaces button {
  min-height: 10px;
  padding: 0px;
  margin: 0px 2px;
  border: none;
  border-radius: 10px;
  background-color: @theme_secondary;
  background: @theme_secondary;
  opacity: 0.4;
  transition: all 1s linear;
}

#workspaces button label {
  font-size: 4px;
}

#workspaces button.active {
  background-color: @theme_primary;
  background: @theme_primary;
  opacity: 0.8;
  min-width: 30px;
}

#workspaces button:hover {
  background-color: @theme_accent;
  background: @theme_accent;
  opacity: 1;
}
