/**
 *
 * TODO: Use color variables like this:
 *  ```css
 *  // Define color:
 *  @define-color custom rgb (181, 171, 156);
 *  ...
 *  // Use definition:
 *  #waybar {
 *    color: @theme_text_color;
 *  }
 *  ```
 *
 */

* {
  font-family: "Fira Code", "Symbols Nerd Font";
  font-weight: 600;
  font-size: 14px;
  padding: 0;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
}

.modules-left,
.modules-center,
.modules-right {
  background: #101010;
  border-radius: 5px;
  padding: 0px 10px;
}

.module {
  padding: 5px 5px;
}

.module:hover {
  color: #ffffff;
}

#workspaces {
  padding: 10px 0px;
}

#workspaces button {
  min-height: 10px;
  padding: 0px;
  margin: 0px 2px;
  border: none;
  border-radius: 10px;
  color: #c6d0f5;
  background-color: #c6d0f5;
  background: #c6d0f5;
  opacity: 0.4;
  transition: all 1s linear;
}

#workspaces button label {
  font-size: 4px;
}

#workspaces button.active {
  min-width: 30px;
  opacity: 1;
}

#workspaces button:hover {
  opacity: 0.2;
}
